<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>
<p>
  <strong>Start date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @trip.end_date %>
</p>




<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>

<hr>

<% if logged_in? %>
  <% unless current_user.joined?(@trip) %>
    <%= link_to( "Dołącz do wycieczki", action: :join) %>
  <% else %>
    <%= link_to( "Odejdź z wycieczki", action: :unjoin) %>
  <% end %>
<% end %>

<hr>

<h2>Zapisani na wycieczke</h2>
<ul>
  <% @trip.users.each do |user| %>
    <li><%= user.name %> <%= user.last_name %></li>
  <% end %>
</ul>

<hr>
<h2> Miejsca </h2>
<ul>
<% @trip.places.each do |place| %>
<li>
  Nazwa: <%= link_to place.name, place %>,
  Typ: <%= place.type.name %>,
  Miasto: <%= place.town.name %>,
  Opis: <%= place.description %>,
  :<%= link_to "Usuń", action: :remove, :remove_id => place.id %>:
</li>
<% end %>
</ul>


<hr>
<h3> Wybierz ktore miejsce chcesz dodać <h3>
<% @places = Place.all %>
<% @places.each do |place| %>
<% unless place.added?(@trip) %>
  <%= link_to place.name, action: :addplace, :place_id_to_add => place.id %><br>
<% end %>
<% end %>

<hr><hr>
<h2>Posty</h2>

<ul>
<% @posts = @trip.posts %>
<% @posts.each do |post| %>
  <li>
    <p><i><%= post.user.username %>:</i> <%= post.content %></p>
  </li>
<% end %>
</ul>
<% if current_user.joined?(@trip) %>
<h4><%= link_to "dodaj post", new_trip_post_path(@trip) %></h4>
<% end %>
