<h1>Listing notifies</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Trip</th>
      <th>Message</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifies.each do |notify| %>
      <tr>
        <td><%= notify.user %></td>
        <td><%= notify.trip %></td>
        <td><%= notify.message %></td>
        <td><%= notify.type %></td>
        <td><%= link_to 'Show', notify %></td>
        <td><%= link_to 'Edit', edit_notify_path(notify) %></td>
        <td><%= link_to 'Destroy', notify, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notify', new_notify_path %>
