<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notify.user %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @notify.trip %>
</p>

<p>
  <strong>Message:</strong>
  <%= @notify.message %>
</p>

<p>
  <strong>Type:</strong>
  <%= @notify.notify_type %>
</p>

<%= link_to 'Edit', edit_notify_path(@notify) %> |
<%= link_to 'Back', notifies_path %>
