<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= @post.trip_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_trip_post_path(@trip, @post) %> |
<%= link_to 'Back', @trip %>
