<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @review.place_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<%= link_to 'Edit', edit_place_review_path(@place, @review) %> |
<%= link_to 'Back', @place %>
