<h1>Listing place_names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @place_names.each do |place_name| %>
      <tr>
        <td><%= place_name.name %></td>
        <td><%= link_to 'Show', place_name %></td>
        <td><%= link_to 'Edit', edit_place_name_path(place_name) %></td>
        <td><%= link_to 'Destroy', place_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place name', new_place_name_path %>
